<form name="contactForm">
  <fieldset>
    <legend class="playfair-font">Submit Suggestion</legend>
    <div class="row margin-bottom-large">
      <div class="col-md-3 bold">
        Your Name:
      </div>
      <div class="col-md-6">
        <input class="full-width margin-bottom-small" type="text" name="name" ng-model="TEST" required>
        <i class="red-text" ng-show="contactForm.name.$error.required">Required</i>
      </div>
    </div>
    <div class="row margin-bottom-large">
      <div class="col-md-3 bold">
        Your Email:
      </div>
      <div class="col-md-6">
        <input class="full-width margin-bottom-small" type="email" name="email" ng-model="email" required>
        <i class="red-text" ng-show="contactForm.email.$error.required">Required</i>
      </div>
    </div>
    <div class="row margin-bottom-large">
      <div class="col-md-3 bold">
        Message:
      </div>
      <div class="col-md-6">
        <textarea class="full-width margin-bottom-small" type="type" name="link" ng-model="link" required></textarea>
        <i class="red-text" ng-show="contactForm.link.$error.required">Required</i>
      </div>
    </div>
  </fieldset>
  <div class="row margin-bottom-large" ng-hide="sending">
    <div class="col-xs-6 bold">
      <button class="btn btn-primary btn-sm" ng-disabled="!contactForm.$valid" ng-click="sendMail()">
        Submit
      </button>
    </div>
    <div class="col-xs-6 align-right">
      <button class="btn btn-info btn-sm" ui-sref="/" style="text-decoration:none">
        Go Back
      </button>
    </div>
  </div>
  <div class="row margin-bottom-large margin-left-tiny" ng-show="sending">
    <button class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Sending...</button>
  </div>
</form>
