/*FRAMEWORK CSS*/

html {
    position: relative;
    min-height: 100%;
}

.custom-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px
}

@media (min-width:768px) {
    .custom-container {
        width: 90%;
    }
}

@media (min-width:992px) {
    .custom-container {
        width: 970px
    }
}

@media (min-width:1450px) {
    .custom-container {
        width: 1350px
    }
}


/*FONTS*/

.playfair-font {
    font-family: 'Playfair Display', serif;
}

.fauna-font {
    font-family: 'Fauna One', serif;
}

.open-sans-font {
    font-family: 'Open Sans', sans-serif;
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Fauna One', serif;
}

.bold {
    font-weight: bold;
}


/*TYPOGRAPHY*/

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.capitalize {
    text-transform: capitalize;
}

.white-text {
    color: white;
}

.small-font {
    font-size: 10px;
}

.medium-font {
    font-size: 12px;
}

.large-font {
    font-size: 14px;
}

.huge-font {
    font-size: 16px;
}

h1::first-letter {
    font-size: 125%;
}


/*COLORS - Pallette from https://color.adobe.com/KnotJustNautical-color-theme-2565165/ */

.dark-blue {
    background-color: #2C3E50;
}

.red {
    background-color: #E74C3C;
}

.light-gray {
    background-color: #ECF0F1;
}

.light-blue {
    background-color: #3498DB;
}

.mid-blue {
    background-color: #2980B9;
}

.white {
    background-color: #ffffff;
}


/*MAIN SECTION*/

.dropshadow {
    box-shadow: 1px 1px 1px #848484;
}

.main-section-show {
    padding-top: 210px;
    padding-bottom: 50px;
}

.main-section-hide {
    padding-top: 80px;
}

.less-nav {
    position: fixed;
    right: 10px;
    top: 16px;
}

.small-logo-container {
    padding-top: 10px;
    height: 50px;
    width: 500px;
}

.small-logo {
    font-size: 22px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

.alert-modal {
    background-color: #FC4349;
}

.alert-modal-position {
    position: fixed;
    margin-top: 20px;
    z-index: 9999;
}


/*Position Pill*/

.positionPill {
    width: auto;
    border: 1px solid #dadada;
    border-radius: 25px;
    background-color: #FFFFFF;
}

.position-details {
    height: 65px;
}

.positionPill .name {
    height: 45px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.positionPill .details {
    margin-left: 20px;
    margin-right: 20px;
}


/*Position image*/

.position-image img {
    width: 100%;
    position: relative;
    border-radius: 0px 0px 23px 23px;
    margin: auto;
    left: 0;
    right: 0;
}

/*CONTACT FORM*/

.contact-form {
    max-width: 500px;
}


/*PADDING*/

.padding-tiny {
    padding: 3px;
}

.padding-small {
    padding: 5px;
}

.padding-medium {
    padding: 10px;
}

.padding-large {
    padding: 15px;
}

.padding-largest {
    padding: 20px;
}

.padding-huge {
    padding: 25px;
}

.padding-immense {
    padding: 30px;
}

.padding-top-tiny {
    padding-top: 3px;
}

.padding-top-small {
    padding-top: 5px;
}

.padding-top-medium {
    padding-top: 10px;
}

.padding-top-large {
    padding-top: 15px;
}

.padding-top-largest {
    padding-top: 20px;
}

.padding-top-huge {
    padding-top: 25px;
}

.padding-top-immense {
    padding-top: 30px;
}

.padding-right-zero {
    padding-right: 0;
}

.padding-right-tiny {
    padding-right: 3px;
}

.padding-right {
    padding-right: 5px;
}

.padding-right-small {
    padding-right: 5px;
}

.padding-right-medium {
    padding-right: 10px;
}

.padding-right-large {
    padding-right: 15px;
}

.padding-right-largest {
    padding-right: 20px;
}

.padding-right-huge {
    padding-right: 25px;
}

.padding-right-immense {
    padding-right: 30px;
}

.padding-bottom-tiny {
    padding-bottom: 3px;
}

.padding-bottom-small {
    padding-bottom: 5px;
}

.padding-bottom-medium {
    padding-bottom: 10px;
}

.padding-bottom-large {
    padding-bottom: 15px;
}

.padding-bottom-largest {
    padding-bottom: 20px;
}

.padding-bottom-huge {
    padding-bottom: 25px;
}

.padding-bottom-immense {
    padding-bottom: 30px;
}

.padding-left-zero {
    padding-left: 0;
}

.padding-left {
    padding-left: 5px;
}

.padding-left-tiny {
    padding-left: 3px;
}

.padding-left-small {
    padding-left: 5px;
}

.padding-left-medium {
    padding-left: 10px;
}

.padding-left-large {
    padding-left: 15px;
}

.padding-left-largest {
    padding-left: 20px;
}

.padding-left-huge {
    padding-left: 25px;
}

.padding-left-immense {
    padding-left: 30px;
}

.no-padding {
    padding: 0px;
}

// MARGINS
.margin-tiny {
    margin: 3px;
}

.margin-small {
    margin: 5px;
}

.margin-medium {
    margin: 10px;
}

.margin-large {
    margin: 15px;
}

.margin-largest {
    margin: 20px;
}

.margin-huge {
    margin: 25px;
}

.margin-immense {
    margin: 30px;
}

.margin-top-tiny {
    margin-top: 3px;
}

.margin-top-small {
    margin-top: 5px;
}

.margin-top-medium {
    margin-top: 10px;
}

.margin-top-large {
    margin-top: 15px;
}

.margin-top-largest {
    margin-top: 20px;
}

.margin-top-huge {
    margin-top: 25px;
}

.margin-top-immense {
    margin-top: 30px;
}

.margin-right-tiny {
    margin-right: 3px;
}

.margin-right-small {
    margin-right: 5px;
}

.margin-right-medium {
    margin-right: 10px;
}

.margin-right-large {
    margin-right: 15px;
}

.margin-right-largest {
    margin-right: 20px;
}

.margin-right-huge {
    margin-right: 25px;
}

.margin-right-immense {
    margin-right: 30px;
}

.margin-bottom-tiny {
    margin-bottom: 3px;
}

.margin-bottom-small {
    margin-bottom: 5px;
}

.margin-bottom-medium {
    margin-bottom: 10px;
}

.margin-bottom-large {
    margin-bottom: 15px;
}

.margin-bottom-largest {
    margin-bottom: 20px;
}

.margin-bottom-huge {
    margin-bottom: 25px;
}

.margin-bottom-immense {
    margin-bottom: 30px;
}

.margin-left-tiny {
    margin-left: 3px;
}

.margin-left-small {
    margin-left: 5px;
}

.margin-left-medium {
    margin-left: 10px;
}

.margin-left-large {
    margin-left: 15px;
}

.margin-left-largest {
    margin-left: 20px;
}

.margin-left-huge {
    margin-left: 25px;
}

.margin-left-immense {
    margin-left: 30px;
}

.header-margins {
    margin-top: 20px;
    margin-bottom: 10px;
}

.no-margin {
    margin: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}
