<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid dark-blue white-text">
    <div class="less-nav" ng-click="hideNavigation()">
      <div ng-show="showNav">
        Less
      </div>
      <div ng-show="!showNav">
        More
      </div>
    </div>
    <div ng-show="showNav">
      <h3 class=" align-center playfair-font">
        Acro Generator
      </h3>
      <div class="align-center">
        <span class="input input--manami">
        <input class="input_field input_field--manami" type="text" id="input-1" ng-model="formData.numberInput" name="" min="1" max="10" maxlength="2"  autocomplete="off" debounce="1000">
        <label class="input_label input_label--manami" for="input-1">
          <span class="input_label-content input_label-content--manami">
            Select a number (from 2 to 10)
          </span>
        </label>
        </span>
      </div>
      <div class="margin-bottom-medium align-center">
        <div class="btn-group" role="group">
          <button type="button" ng-class="formData.all ? 'btn btn-success btn-sm' : 'btn btn-primary btn-sm'" ng-click="levelAll()">All</button>
          <button type="button" ng-class="formData.diff.beginner ? 'btn btn-success btn-sm' : 'btn btn-primary btn-sm'" ng-click="levelSelect('beginner')">Beginner</button>
          <button type="button" ng-class="formData.diff.intermediate ? 'btn btn-success btn-sm' : 'btn btn-primary btn-sm'" ng-click="levelSelect('intermediate')">Intermediate</button>
          <button type="button" ng-class="formData.diff.advanced ? 'btn btn-success btn-sm' : 'btn btn-primary btn-sm'" ng-click="levelSelect('advanced')">Advanced</button>
        </div>
      </div>
      <div class="align-center margin-bottom-medium">
        <button class="btn btn-primary btn-sm" ng-click="refresh()">Refresh</button>
        <button ng-class="saved ? 'btn btn-success btn-sm' : 'btn btn-primary btn-sm'" ng-click="saveList()">Save</button>
      </div>
    </div>
    <div ng-show="!showNav" style="height: 50px; width: 500px;">
      <div class="small-logo-container">
        <span class="small-logo playfair-font col-md-3">
          AG
        </span>
        <span class="col-md-3">
          <b>
            Pos:
          </b>
          {{formData.numberInput}}
        </span>
        <span class="col-md-3">
          <b>
            Dif:
          </b>
          <span ng-show="formData.all">
            All
          </span>
          <span ng-show="formData.diff.beginner">
            Beg
          </span>
          <span ng-show="formData.diff.intermediate">
            Int
          </span>
          <span ng-show="formData.diff.advanced">
            Adv
          </span>
        </span>
      </div>
    </div>
  </div>
</nav>
<div ng-class="showNav? 'main-section-show' : 'main-section-hide'">
  <div class="row margin-bottom-large">
    <div ng-repeat="positions in positionHolder track by $index">
      <div ng-repeat="position in positions track by $index">
        <div ng-class="position.class" class="margin-bottom-large">
          <div class="positionPill dropshadow">
            <div class="position-details">
              <div class="name huge-font align-center">
                {{position.name}}
              </div>
              <div class="details capitalize small-font align-center">
                <i>{{position.difficulty}}</i>
              </div>
            </div>
            <div class="position-image" ng-if="position.image">
              <img ng-src="{{position.image}}"></img>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-center margin-bottom-large" ng-show="difficultyRating">
    <p>
      Possible Positions available: {{possiblePositions}}
    </p>
  </div>
  <div class="row align-center margin-bottom-large" ng-show="difficultyRating">
    <p>
      Rating Score: {{difficultyRating | number : 2}}
    </p>
  </div>
</div>
