<div class="main-section">
  <div>
    <form>
      <div class="align-center">
        <span class="input input--manami">
          <input class="input__field input__field--manami" type="text" id="input-1" ng-model="formData.numberInput" name="" min="1" max="10" maxlength="2"  autocomplete="off" debounce="1000">
          <label class="input__label input__label--manami" for="input-1">
            <span class="input__label-content input__label-content--manami">
              Select a number of positions (Up to 8)
            </span>
          </label>
        </span>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-2">
          <input type="radio" value="all" ng-model="formData.level"> All
        </div>
        <div class="col-md-2">
          <input type="radio" value="beginner" ng-model="formData.level" checked> Beginner
        </div>
        <div class="col-md-2">
          <input type="radio" value="intermediate" ng-model="formData.level"> Intermediate
        </div>
        <div class="col-md-2">
          <input type="radio" value="advanced" ng-model="formData.level"> Advanced
        </div>
      </div>
    </form>
  </div>
  <br>
  <div class="row align-center margin-bottom-large" ng-show="difficultyRating">
    <p>
      Rating Score: {{difficultyRating | number : 2}}
    </p>
    <p>
      Possible Positions available: {{possiblePositions}}
    </p>
  </div>
  <div class="row margin-bottom-large">
    <div ng-repeat="item in firstRowList track by $index">
      <div ng-class="firstRowPillClass" class="margin-bottom-large">
        <div class="positionPill">
          <div class="name huge-font align-center">
              {{item.name}}
          </div>
          <div class="details">
            Flyer is on {{item.on}} and
            <span ng-show="item.inverted">
              inverted
            </span>
            <span ng-show="!item.inverted">
              not inverted
            </span>
          </div>
          <div class="details capitalize">
            {{item.difficulty}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-bottom-large">
    <div ng-repeat="item in secondRowList track by $index">
      <div ng-class="secondRowPillClass" class="margin-bottom-large">
        <div class="positionPill">
          <div class="name huge-font align-center">
              {{item.name}}
          </div>
          <div class="details">
            Flyer is on {{item.on}} and
            <span ng-show="item.inverted">
              inverted
            </span>
            <span ng-show="!item.inverted">
              not inverted
            </span>
          </div>
          <div class="details capitalize">
            {{item.difficulty}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-bottom-large">
    <div ng-repeat="item in thirdRowList track by $index">
      <div ng-class="thirdRowPillClass" class="margin-bottom-large">
        <div class="positionPill">
          <div class="name huge-font align-center">
              {{item.name}}
          </div>
          <div class="details">
            Flyer is on {{item.on}} and
            <span ng-show="item.inverted">
              inverted
            </span>
            <span ng-show="!item.inverted">
              not inverted
            </span>
          </div>
          <div class="details capitalize">
            {{item.difficulty}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="height:75px"></div>
