<div class="container-fluid contact-form margin-top-immense margin-bottom-immense">
  <div flex layout="row" layout-align="center">
    <legend class="playfair-font">All Available Positions</legend>
    <div class="row margin-bottom-large" ng-hide="sending">
      <div class="col-xs-12 align-right">
        <button class="btn btn-info btn-sm" ui-sref="/" style="text-decoration:none">
          Go Back
        </button>
      </div>
    </div>
    <div ng-repeat="position in positions">
      <div class="positionPill dropshadow margin-bottom-largest">
        <div class="position-details">
          <div class="name huge-font align-center">
            {{position.name}}
          </div>
          <div class="details capitalize small-font align-center">
            <i>{{position.difficulty}}</i>
          </div>
        </div>
        <div class="position-image" ng-if="position.image">
          <img ng-src="{{position.image}}"></img>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-bottom-largest" ng-hide="sending">
    <div class="col-xs-12 align-right">
      <button class="btn btn-info btn-sm" ui-sref="/" style="text-decoration:none">
        Go Back
      </button>
    </div>
  </div>
</div>
